<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet"
href="{{ url_for('static', filename='Main.css') }}">

{% block head %}{% endblock %}

</head>



<script>

    function toggleAnswer(button) {
    
        let answer = button.parentElement.querySelector(".answer");
    
        if (answer.classList.contains("hidden")) {
    
            answer.classList.remove("hidden");
            button.innerText = "Hide Answer";
    
        } else {
    
            answer.classList.add("hidden");
            button.innerText = "Show Answer";
        }
    }
    
    </script>

    

<body align="center">


{% block body %}{% endblock %}

</body>

</html>