{% extends "base.html" %}

{% block head %}

<title>Scroll & Study</title>

{% endblock %}



{% block body %}

<h1>Welcome</h1>

<p>First thing to do: turning normal text(qustion) --> flashcards /or qustion with answers</p>

<form method="POST">

<textarea
    name="user_input"
    rows="5"
    cols="40"
    placeholder="Type something..."></textarea>

<br><br>

<button type="submit">Add question</button>

</form>


<!--this will show flashcard into website-->
{% if flashcards %}

{% for card in flashcards %}

<div class="card">

<p class="question">
{{ card.question }}
</p>

<p class="answer hidden">
{{ card.answer }}
</p>

<button onclick="toggleAnswer(this)">
Show Answer
</button>

<br><br>

<a href="{{ url_for('delete', card_id=card.id) }}">
<button>Delete</button>
</a>

<a href="{{ url_for('edit', card_id=card.id) }}">
<button>Edit</button>
</a>

</div>

{% endfor %}

{% endif %}

{% endblock %}
